<h1>Статьи</h1>
<% @posts.each do |post| %>

<div class="posts">
	<div class="postContent">
	<h2><%=link_to post.title, post_path(post), class: "linkText" %></h2>

	<div class="date">
		<p>Дата публикации: <time><%= post.created_at.to_date %></time></p>
	</div>

	<%= image_tag post.image.url(:thumb), class: 'image-index' if post.image? %>

	<div class="textContent"><%= sanitize(sanitize(post.text).truncate(200))%></div>
	
</div>
<p><%=link_to "Читать далее", post_path(post), class: "linkPost" %></p>
</div>
<% end %>
<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer', class: "paginate" %> 