<div class="editPost">
<%= form_with scope: :novelty, html: {multipart: true}, url: noveltys_path, local: true do |form| %>
	<% if @novelty.errors.any? %>
 		 <div id="error_explanation">
   		 <h2><%= pluralize(@novelty.errors.count, "error") %> prohibited this novelty from being saved:</h2>
    	<ul>
  		  <% @novelty.errors.full_messages.each do |msg| %>
    		  <li><%= msg %></li>
  		  <% end %>
  		  </ul>
  		 </div>
	<% end %>
	
<p>Название статьи</p>
<%= form.text_field :title, class: 'title-field' %>
		

<p>Содержание статьи</p>
<%= form.hidden_field :text, id: :subject_content  %>
		<trix-editor input="subject_content"></trix-editor>

<p>Загрузить превью</p>
<%= form.file_field :image %>
<p><%= form.submit "Создать статью" %></p>

<% end %>

</div>